.password-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #c3caea;
}

.password-item p {
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.password-item button {
  background: none;
  border: none;
  cursor: pointer;
}
